.uploadDiv
{
    /* border: solid 1px black; */
    box-shadow: 0 8px 8px #ccc;
    border-radius: 2%;
    padding: 1%;
    width: 50%;
    margin: auto;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: column; */
    /* text-align: center; */
}
.fileSelectDiv
{
    display: flex;
    align-items: center;
}
.progressBar
{
    width: 50%;
    margin: auto;
}