.tempnode
{
    width: 15%;
    height: 98px;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid 1px black; */

}
.tempnodeInner
{
  border-radius: 50%;
  font-size: 24px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  border: solid 1px black;
}